@model com.kiransprojects.travelme.Models.UserViewModel
@{
    ViewBag.Title = "travel me";
    ViewBag.Name = Model.User.FirstName;
}

@Html.Partial("Navigation")


<div class="row" id="banner">
    <h1 id="title">@ViewBag.Title</h1>
</div>

<div class="row">
    <h2>@Model.WelcomeMessage</h2>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div class="panels">
            <h3>Trips</h3>
            @if (Model.TripsForDisplay != null)
            {
                for (int i = 0; i < Model.TripsForDisplay.Count; i++)
                {
                    <p>@Model.TripsForDisplay[i].TripName</p>
                }
            }
            else
            {
                <h4>@Html.Encode("No Trips!")</h4>
            }


            <button class="button">@Html.ActionLink("Add", "Index", "Trip")</button>

        </div>
    </div>

    <div class="col-xs-12 col-sm-3">
        <div class="panels" id="panel-location">
            <h3>Locations</h3>
        </div>
    </div>
</div>