@model com.kiransprojects.travelme.Models.UserViewModel
@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("LoginRedirect", "Account", FormMethod.Post))
        {
            <div id="validation-error">
                @Html.ValidationSummary()
            </div>

            <h2>Login</h2>

    <div class="LoginRedirectForm">
        @Html.LabelFor(model => model.User.Email)
        <br />
        @Html.TextBoxFor(model => model.User.Email)
        <br />
        @Html.LabelFor(model => model.User.UserPassword)
        <br />
        @Html.TextBoxFor(model => model.User.UserPassword)
        <br />
    </div>
            <input type="submit" class="button" name="name" value="Log In" />
        }
    </div>
</div>