@model com.kiransprojects.travelme.Models.UserViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row" id="head">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="register-page">
        <h2 class="title">Register</h2>
        
        <div id="validation-error">
            @Html.ValidationSummary()
        </div>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "register-form" }))
        {
            @Html.LabelFor(model => model.User.FirstName)
            @Html.TextBoxFor(model => model.User.FirstName)
            <br />
            @Html.LabelFor(model => model.User.LastName)
            @Html.TextBoxFor(model => model.User.LastName)
            <br />
            @Html.LabelFor(model => model.User.DateOfBirth)
            @Html.TextBoxFor(model => model.User.DateOfBirth)
            <br />
            @Html.LabelFor(model => model.User.Email)
            @Html.TextBoxFor(model => model.User.Email)
            <br />
            @Html.LabelFor(model => model.User.UserPassword)
            @Html.PasswordFor(model => model.User.UserPassword)
            
           //Set profile picture here
            
            <input type="submit" name="register" value="Register" class="button center" />
        }
    </div>

</div>