<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("http://anijs.github.io/lib/anicollection/anicollection.css")
    @Styles.Render("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    @Styles.Render("~/Content/Site.min.css")
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="footer">
                &copy; @string.Format("{0} - {1}", ViewBag.Title, DateTime.Now.Year)
            </div>
        </div>
    </div>
       
    @*@RenderSection("scripts", required: false)*@
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Scripts.Render("https://cdn.jsdelivr.net/anijs/0.9.3/anijs-min.js")
    @Scripts.Render("~/Scripts/Custom/HomeAnimations.js")
</body>
</html>