@model com.kiransprojects.travelme.Framework.Entities.Trip

<h3>Add Trip</h3>

@using(Html.BeginForm("Add", "Trip", FormMethod.Post, null)) 
{
    @Html.ValidationSummary()

    @Html.LabelFor(model => Model.TripName)
    @Html.TextAreaFor(model => Model.TripName)
    <br />

    @Html.LabelFor(model => Model.TripDescription)
    @Html.TextAreaFor(model => Model.TripDescription)
    <br />

    @Html.LabelFor(model => Model.TripLocation)
    @Html.TextAreaFor(model => Model.TripLocation)
    <br />


    @Html.HiddenFor(model => Model.RelationID)

    <input type="submit" value="Add" class="button"/>
}